body, html {
	margin: 0;
	font-family: Arial;
	overflow-x: hidden;
}

/* Webkit Scroll Bar Styling */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
    background-color: gray;
}

#custom-nav {
	-webkit-box-shadow: 0.12rem 0.12rem 0.12rem rgb(204, 204, 204);
	-moz-box-shadow:    0.12rem 0.12rem 0.12rem rgb(204, 204, 204);
	box-shadow:         0.12rem 0.12rem 0.12rem rgb(204, 204, 204);
	z-index:999;
}

.nav-section {
	position: fixed;
	width: 100%;
	height: 8%;
	background-color: white;
}

.logo {
	display: block;
	width: 60px;
	height: 0 auto;
	margin-top: -40%!important;
}

.right-nav {
	position: relative;
	margin-top: 2.25%;
	margin-right: 8%;
	text-align: right;
	width: 60%;
	left: 33%;
	height: 50%;
}

.right-nav ul {
	list-style: none;
}

.right-nav ul li a {
	text-decoration: none;
	color: white;
	float: right;
}

.fa-shopping-cart {
	color: black;
}

.login-btn {
	padding: 0.65rem 1rem 0.65rem 1rem;
	background-color: black;
	border-radius: 5px;
	color: white;
	margin-right: 65px;
	margin-top: -1.5%;
}

.nav-item {
	position: relative;
}

.nav-items ul {
	list-style: none;
}

.nav-items ul li {
	float: left;
	margin-top: 1.25%;
	margin-left: 3rem;
	cursor: pointer;
}

.nav-items ul li a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.nav-items ul li a:hover {
	font-size: 17px;
	color: green;
}

.content-section {
	position: absolute;
	width: 100%;
	height: 0 auto;
	margin: 0;
}

.banner-section {
	position: relative;
	width: 100%;
	height: 60vh;
	background: url("../images/Banner.jpg") no-repeat center;
	background-size: cover;
}

.banner-layer {
	width: 100%;
	height: 60vh;
	background-color: black;
	opacity: .6;
}

.product-section {
	position: relative;
	text-align: center;
	margin-top: 80px;
	width: 100vw;
	height: 0 auto;
}

.all-button {
	padding: 0.65rem 1rem 0.65rem 1rem;
	background-color: black!important;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}

.product-block-section {
	width: 100%;
	height: 500px;
	margin-left: 50px;
	margin-top: 50px;
	z-index: 1;
}

.product-block-section ul {
	list-style: none;
}

.product-block-section ul li {
	float: left;
	margin-left: 4%;
}

.product-block-section ul li a {
	text-decoration: none;
}

.card {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 300px;
  	margin: auto;
  	text-align: center;
  	font-family: arial;
}

.price {
  	color: grey;
  	font-size: 22px;
}

.card button {
  	border: none;
  	outline: 0;
  	padding: 12px;
  	color: white;
  	background-color: #000;
  	text-align: center;
  	cursor: pointer;
  	width: 100%;
  	font-size: 18px;
}

.card button:hover {
  	opacity: 0.7;
}

/*Login page*/

.box {
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 20%);
	background-color: white;
	color: white;
	border-radius: 10px;
	width: 35%;
	height: 50vh;
}

.box-inner-section {
	position: absolute;
	width: 70%;
	height: 40vh;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-inner-section input{
	outline: none;
	border: none;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.box-inner-section input:hover{
	padding-top: 11%;
}

.box-inner-section input:focus{
	padding-top: 11%;
}

.login-user {
	width: 100%;
	border-bottom: 2px solid black!important;
}

.login-pass {
	width: 100%;
	border-bottom: 2px solid black!important;
}

.login-submit {
	padding: 0.65rem 1rem 0.65rem 1rem;
	background-color: black!important;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.login-submit:hover {
	padding: 0.65rem 1rem 0.65rem 1rem!important;
}

.login-submit:focus {
	padding: 0.65rem 1rem 0.65rem 1rem!important;
}

.input-tag {
	margin-bottom: -4%;
	color: gray;
}

.input-section {
	text-align: left;
	margin-top: 16%;
}

.account-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/AccountBackground.jpg") no-repeat;
	background-size: cover;
	background-position: fixed;
}

.background-layer {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .8;
}

/* Product Page Styling */

/* Split the screen in half */
.split {
	height: 50%;
	width: 50%;
	position: fixed;
	top: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
}

.s-split {
	height: 50%;
	width: 50%;
	position: absolute;
	z-index: 1;
	overflow-x: hidden;
}

/* Control the left side */
.left {
    left: 0;
    background: url("../images/AccountBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.s-left {
    left: 0;
    background: url("../images/AccountBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

/* Control the right side */
.right {
    right: 0;
    background: url("../images/AccountBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.s-right {
    right: 0;
    background: url("../images/AccountBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 0%);
    text-align: center;
}

.centered h1 a {
	text-decoration: none;
	color: white;
}

.centered-layer {
	width: 100%;
	height: 100%;
	background-color: black;
    opacity: .6;
    z-index: 1;
    transition: 0.2s ease-in-out;
}

.centered-layer:hover {
	opacity: .8;
}

.fullscreen {
	height: 50%;
	width: 100%;
	position: fixed;
	top: 50%;
	z-index: 1;
	overflow-x: hidden;
}

.section {
    background: url("../images/AccountBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.fullscreen-layer {
	width: 100%;
	height: 100%;
	background-color: black;
    opacity: .6;
    z-index: 1;
    transition: 0.2s ease-in-out;
}

.fullscreen-layer:hover {
	opacity: .8;
}

/* All Products Page Styling */

.p-content {
	position: relative;
}

/* Admin private page styling */

.admin-account-background {
	position: absolute;
	width: 100%;
	height: 90;
	background: url("../images/AccountBackground.jpg") no-repeat;
	background-size: cover;
	background-position: fixed;
	padding-top: 30%;
	z-index: -1;
}

.admin-background-layer {
	width: 100%;
	height: 90%;
	background-color: black;
	opacity: .8;
	margin-top: 30%;
	z-index: -1;
}

.admin-table {
	margin-left: .5%;
}

.deletion_heading {
	color: black;
}

.admin-box {
	position: relative;
	margin-bottom: 2%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 20%);
	background-color: white;
	color: white;
	border-radius: 10px;
	width: 30%;
	height: 45vh;
}

.admin-box-inner-section {
	position: absolute;
	width: 80%;
	height: 35vh;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}