.box {
	width: 1000px;
    align-content: center;
    background-color: rgb(145, 145, 145);
    padding: 10px 10px;
    border: 1px solid #646464;
    border-radius: 10px;
	box-shadow: 10px 10px 10px black;
	height: 100px;
}

.vertone{
	width: 50px;
    align-content: center;
    background-color: rgb(145, 145, 145);
    padding: 10px 10px;
    border: 1px solid #646464;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.main{
	width: 700px;
    align-content: center;
    background-color: rgb(145, 145, 145);
    padding: 10px 10px;
    border: 1px solid #646464;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.verttwo{
	width: 50px;
    align-content: center;
    background-color: rgb(145, 145, 145);
    padding: 10px 10px;
    border: 1px solid #646464;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

body {
    background-color: #505050;
}